@import 'skeletons/_button.scss';
@import 'skeletons/_mod-icon.scss';

/**
 * Buttons
 * =======
 *
 * Button classes must be added to `<a>` and `<button>` tags only.
 * The background color can be changed using the appropriate modifier.
 *
 * Example usage:
 * ```
 *   <!-- base button -->
 *   <a class="button">Button</a>
 *   <button class="button" type="button">Button</button>
 *
 *   <!-- primary button -->
 *   <a class="button mod-primary">Primary</a>
 *   <button class="button mod-primary" type="button">Primary</button>
 *
 *   <!-- success button -->
 *   <a class="button mod-success">Success</a>
 *   <button class="button mod-success" type="button">Success</button>
 *
 *   <!-- error button -->
 *   <a class="button mod-error">Error</a>
 *   <button class="button mod-error" type="button">Error</button>
 *
 *   <!-- button with icon -->
 *   <a class="button [modifiers] mod-icon" data-icon="icon_name">Button</a>
 *   <button class="button [modifiers] mod-icon" type="button" data-icon="icon_name">Button</button>
 *
 *   <!-- button with icon only (text is hidden) -->
 *   <a class="button [modifiers] mod-icon mod-text-hidden" data-icon="icon_name">Button</a>
 *   <button class="button [modifiers] mod-icon mod-text-hidden" type="button" data-icon="icon_name">Button</button>
 * ```
 */

.button {
    @extend %button;

    &.mod-icon {
        @extend %mod-icon;

        padding-left: 38px;

        &.mod-text-hidden {
            padding: 10px 21px;
        }

        &:before {
            left: 9px;
            top: 7px;
        }
    }
}
