/**
 * Icon modifier
 * -------------
 *
 * Adds a pseudo-element before the element it is applied to.
 * This pseudo-element contains the icon specified in the `data-icon` attribute.
 */

%mod-icon {
    padding-left: 12px;

    &:before {
        @include material-icons();

        content: attr(data-icon);
        margin-right: 6px;
    }
}

/**
 * Icon-only modifier
 * ------------------
 *
 * Same behavior of `%mod-icon`, but also hides the text leaving only the icon visible.
 */
%mod-icon-only {
    @extend %mod-icon;

    font-size: 0;
    padding-right: 12px;

    &:before {
        margin-right: 0;
    }
}
