/**
 * Icon modifier
 * -------------
 *
 * Adds a pseudo-element before the element it is applied to.
 * This pseudo-element contains the icon specified in the `data-icon` attribute.
 */

%mod-icon {
    padding-left: 12px;

    &.mod-text-hidden {
        font-size: 0;
        padding: 0 12px;

        &:before {
            margin-right: 0;
        }
    }

    &:before {
        @include material-icons();

        content: attr(data-icon);
        margin-right: 6px;
    }
}
