/**
 * Icon modifier
 * -------------
 *
 * Adds a pseudo-element before the element it is applied to.
 * This pseudo-element contains the icon specified in the `data-icon` attribute.
 * The position and spacing of the icon must be specified in the selector that
 * extend this placeholder.
 */

%mod-icon {
    position: relative;

    &.mod-text-hidden {
        font-size: 0;
    }

    &:before {
        @include material-icons();

        content: attr(data-icon);
        position: absolute;
    }
}
